.gradle/
.idea/
app/app.iml
build
builds
app/src/main/assets/linhome.zip
app/build
local.properties
/local.properties
/app/release/app-release.aab
/app/release/output-metadata.json
/app/release/linhome-android-release-5.0.0.apk
app/google-services.json
